/* the margin and padding properties centers all elements of the page*/
html,
body {
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #0b0c10;
  font-family: "Playfair Display", serif;
  color: #45a29e;
}
/*the navigation*/
.navbar {
  text-transform: uppercase;
  padding: 20px;
}
/*the home page*/
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/carl-heyerdahl-KE0nC8-58MQ-unsplash.jpg); /* linear- gradient is used
     to add an overlay to the image*/
  background-repeat: no-repeat;
  background-size: cover; /* this ensures that the image occupies the full-width*/
  background-position: center;
  height: 100%;
  overflow: hidden;
  z-index: 2; /* this is necessary to arrange the stacking order
   of the image and gradient*/
}
#home-page {
  margin: 80px auto 300px auto;
  padding: 150px;
  width: 100%;
  border: 2px solid grey;
  position: relative;
  color: white;
  /* text shadow to improve image visibility*/
  text-shadow: 0 1px black;
}



.icons {
  list-style-type: none; /* this removes bullets*/
  display: inline-block; /* this reduces the width of the list*/
  transform: translateX(
    -185px
  ); /*this sets the position of the icons to the edge of the page*/
  position: absolute;
}
.icons li {
  border: 1px solid white;
  font-size: x-large; /* for sizing the icons*/
  padding: 10px;
}

.btn-primary {
  background-color: #45a29e !important;
}
.bg-primary{
  background-color: #66fcf1 !important;
}
footer{
  background: #c5c6c7;;
  border:2px solid;

}
.copy{
  transform:translateX(200px);
  position:relative;
}
